@charset "UTF-8";
/******************************************************************
Stylesheet: ベーススタイル
******************************************************************/
body {
  padding: 0;
  margin: 0;
}

#main-content {
  width: 90%;
  margin: 0px auto;
  height: 100vh;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  background-color: #002655;
  z-index: 2;
  height: 65px;
  width: 100%;
}

header a {
  color: #ffffff;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header a span {
  font-size: 8px;
}

header nav {
  width: 100%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0 20px;
}

header nav li {
  margin-right: 10px;
}

form dl {
  margin: 0;
  margin-right: 10px;
}

.user-info .user-img {
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  color: #ffffff;
  padding: 8px 16px;
  background-color: #002655;
  border-radius: 8px;
  border-bottom: solid 2px #000000;
  -webkit-transition: .100s;
  transition: .100s;
}

.btn:hover {
  border-bottom: none;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.timecard-btn {
  display: inline-block;
  color: #ffffff;
  padding: 16px 48px;
  background-color: #10A2D4;
  border-radius: 8px;
  border-bottom: solid 2px #000000;
  -webkit-transition: .100s;
  transition: .100s;
}

.timecard-btn:hover {
  border-bottom: none;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.timecard-btn__disabled {
  display: inline-block;
  color: #ffffff;
  padding: 16px 48px;
  background-color: gray;
  border-radius: 8px;
}

.timecard {
  padding-top: 65px;
}

.timecard__wrapper {
  position: absolute;
  top: 35%;
  left: 50%;
  height: 300px;
  width: 300px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.form {
  position: relative;
  width: 100%;
  height: 100vh;
}

.form__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.form__wrapper input {
  width: 100%;
  height: 30px;
}

.form__wrapper a {
  display: block;
  margin-top: 10px;
}

.form__wrapper .messages {
  display: block;
  position: absolute;
  width: 100%;
  top: 55px;
}

.form__wrapper .messages p {
  font-size: 12px;
  color: red;
}

.home {
  padding-top: 65px;
}

.calender {
  padding-top: 65px;
  height: 100%;
}

.calender__wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.calender__title {
  text-align: center;
}

.calender__table table {
  width: 100%;
}

.calender__table th {
  width: 30%;
}

.calender__table th:first-child {
  width: 5%;
}

.calender__table td {
  border-bottom: 1px dashed gray;
  text-align: center;
}

.calender__table td:first-child {
  text-align: right;
}

.calender__table td:hover:not(:first-child):not(:last-child) {
  background-color: #b3b3b3;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
}

.modal__bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__bg h1 {
  position: relative;
  text-align: center;
  top: 35%;
  color: #ffffff;
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
}
/*# sourceMappingURL=style.css.map */