{% extends "base.html" %}
{% block content %}
<div>
    {% if user.picture_path %}
    <img src="{{ url_for('static', filename=user.picture_path) }}">
    <!-- <img src="{{ user.picture_path }}"> -->
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <dl>
            <div>{{ form.email(value=user.email) }}</div>
        </dl>
        <dl>
            <div>{{ form.username(value=user.username) }}</div>
        </dl>
        <dl>
            <div>{{ form.picture_path() }}</div>
        </dl>
        {{ form.submit }}
    </form>
</div>
{% endblock %}